*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     background-color:rgb(203, 192, 192);
     color: white;
     width: 100vw;
}
header{
     background-color: #0331e7;
     padding: 20px;
     color: white;
}
header h1{
     font-size: 36px;
}

main{
     min-height: 80vh;
     padding: 20px;
     max-width: 800px;
     margin: 0 auto;
}
main form{
display: flex;
justify-content: center;
}

form input[type="text"],button[type="submit"],
.result div a{
border: none;
font-size: 17px;
font-weight: 500;
border-radius: 5px;
padding: 10px;

}

form input[type="text"]{
     flex-grow: 1;
}
form button{
     background-color: #0331e7;
     color: white;
     margin-left: 10px;
     cursor: pointer;
}
footer{
     background-color: #0331e7;
     padding: 22px;
     color: white;
     text-align: center;
     font-size: 18px;
     position: fixed;
     width: 100%;
}
.result{
     background-color: rgb(249, 249, 141);
     color: black;
     padding: 20px;
     border-radius: 10px;
     margin-top: 20px;
     box-shadow: 2px 2px 2px rgb(135, 237, 135,0.8);
}
.result p{
     margin-top: 10px;
}
.partsofSpeech{
     font-style: italic;
     color: red;
     margin-top: 2px;
}
.result div{
     margin-top: 20px;
}
.result div a{
text-decoration: none;
background-color: #0331e7;
color: white;
}
.result li{
     padding: 8px;
     margin-left: 20px;

}

@media screen and (max-width:320px){
     nav h1{
          font-size: 22px;
     }
     main form{
          display: flex;
          flex-direction: column;
          }
          form button{
               margin-left: 0px;
               margin-top: 10px;
          }
}